.link{
    color: #fff;
}
.link:hover{
    text-decoration: none;
    color: rgba(red, green, blue, .2);
    transition: 2s;
}
body{
    overflow: hidden;
}
.jumbotron{
    margin: 0 auto;
    max-width: 1300px;
}
#choices div{
    flex: 1;
    margin: 5px;
    height: 220px;
    width: 320px;
    border: solid black 1px;
    padding: 10px;
}
#choices div img{
    height: 200px;
    width: 300px; 
}

.container #mess{
    margin: 0 auto;
}
#reset-results{
    margin: 0 auto;
}
#cover-wrapper{
    height: 600px;
    width: 100%;
    position: relative;
    margin-top: -488px;
}
#cover-wrapper button{
    width: 450px;
    margin: 0 auto;
    margin-top: 15px;
}
